*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: blue;
    padding: 18px 50px;
}

.horizontal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 50px;
    
}

.nav-item {
    list-style-type: none;
}

.nav-item a{
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    color: white;
    margin-right: 18px;
}

.nav-item a:hover{
    color: black;
}

.title {
    width: 600px;
    font-size: 38px;
    color: white;
}

#image {
    padding-right: 200px;
}

#home{
    background-color: rgb(0, 119, 255);
}
